@model Projekat_Hotel.Models.Rezervacija

@{
    ViewBag.Title = "Rezervacije-Izmena";
}

<h2>Rezervacije-Izmena</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Rezervacija</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RezervacijaID)

        <div class="form-group">
            @Html.LabelFor(model => model.GostID, "Br.LK/pasoša", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GostID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GostID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UslugaID, "Vrsta usluge", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UslugaID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UslugaID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Check_In, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Check_In, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Check_In, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Check_Out, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Check_Out, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Check_Out, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SobaID, "Broj sobe", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SobaID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SobaID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sačuvaj izmene" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Spisak rezervacija", "SveRezervacije", null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
</div>
