@model IEnumerable<Projekat_Hotel.Models.Racun>

@{
    ViewBag.Title = "Računi-početna";
}

<h2>Svi Računi</h2>

@*<p>
        @Html.ActionLink("Novi račun", "NoviRacun", null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
    </p>*@
<table class="table" id="sviRacuni">
    <thead></thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RacunID)
        </th>
        <th>
            Broj rezervacije
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NacinPlacanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iznos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rezervacija.GostID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Storno)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.RacunID)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.RezervacijaID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NacinPlacanja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Iznos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rezervacija.GostID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Storno)
                </td>
                <td>
                    @Html.ActionLink("Storniraj", "Storno", new { id = item.RacunID }, htmlAttributes: new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Detalji", "Detalji", new { id = item.RacunID }, htmlAttributes: new { @class = "btn btn-info btn-sm" })
                    @Html.ActionLink("Obriši", "ObrisiRacun", new { id = item.RacunID }, htmlAttributes: new { @class = "btn btn-danger btn-sm" })

                </td>
            </tr>
        }
    </tbody>
</table>
@*<script src="~/Scripts/jquery-3.3.1.js"></script>*@

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#sviRacuni').DataTable();
    });

</script>

